$starkWhite: #ffffff;
$backgroundWhite: #f1f1f1;
$jetBlack: #333333;
$basicBlack: #3c3c3c;
$darkGray: #58585a;
$mediumGray: #a9a9a9;
$lightGray: #E0E0E0;
$cheatBlack: #0f1626;
$woahColor: #008bb1;
$highlightColor: #e4f9ff;