$headerTitle: rgb(223, 31, 31);
$headerBody: rgb(64, 64, 64);
$headerAccent: rgb(91, 205, 172);
$headerLightAccent: rgb(223, 245, 239);
$logoText: rgb(242, 242, 242);
$nav-color: rgb(228, 89, 89);
$skillsAccent: rgb(226, 30, 92);
$workAccent: rgb(158, 224, 248);
$blogLightAccent: rgb(214,166,200);
$blogAccent: rgb(176, 85, 150);
$contactLightAccent: rgb(255, 230, 211);
$contactAccent: rgb(255, 179, 122);

$basepurplecolor: #2E1455;
$basewhitecolor: #E7D7D7;
