<div id = "section4" class = "sections">
  <h1>Contact Me</h2>
  <div class = "container">
      <h4>E-mail: <span>dinikasaxenas@gmail.com</span></h4>
      <h3>Find me on: <a href="https://github.com/Dinika">GitHub</a> <a href="https://www.linkedin.com/in/dinika-saxena-06721265">LinkedIn</a></h3>
      <h2>Get code for this website on <a href = "https://github.com/Dinika/portfolio">GitHub</a>.</h2>
      <div class="copyright">Copyright &copy 2017 dinika.github.io/portfolio/ All Rights Reserved.</div>
  </div>
  <div class="navButton">
		<svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
			<path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
		</svg><br> MENU
	</div>
  <div class="rightMenu">
      <div class = "upArrow">
        <svg id="i-chevron-top" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M30 20 L16 8 2 20" />
        </svg>
      </div>
      <div class = "currentSection">
        Contact
      </div>
      <div class = "downArrow">
        <svg id="i-chevron-bottom" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M30 12 L16 24 2 12" />
        </svg>
      </div>
  </div>
</div>
