<div id = "contact" class = "section-wrapper hide">

  <h1>Contact</h1>

  <div class="main-content-container">
    <div class="row">
      <div class="col-40">
        E-mail me at
      </div>
      <div class="col-60 e-mail">
        dinikasaxenas@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        Or find me on
      </div>
      <div class="col-60">
        <a href="">LinkedIn</a>  <a href="">GitHub</a>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button class="previous-button"><img class="next-button-arrow" src="assets/img/previous-arrow.svg"></button>
  </div>
</div>
