<div id="contact" class="section-wrapper hide">

  <h1>Contact</h1>

  <div class="main-content-container">
    <div class="row">
      <div class="col-40">
        E-mail me at:
      </div>
      <div class="col-60 e-mail">
        dinikasaxenas@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        Find me on:
      </div>
      <div class="col-60">
        <a href="https://linkedin.com/in/dinika-saxena">LinkedIn</a> <a href="https://github.com/Dinika">GitHub</a>
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        View my:
      </div>
      <div class="col-60">
        <a href="https://drive.google.com/file/d/1uqanJeeyttKDmYTZg4_NQ7sLPLLsJUTd/view?usp=sharing">Resume</a>
        <a href="https://codepen.io/Dinika/">Codepen</a>
        <a href="https://dinikasaxena.wordpress.com/">Blog</a>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button class="previous-button">
      <img class="next-button-arrow" srcset="assets/img/previous-arrow.svg 154w" sizes="(max-width: 800px) 50px, 154px">
    </button>
  </div>
</div>