<main>
	<header class="main-header" id="header">
		<h1 class="main-header-title">Dinika <span>Saxena</span></h1>
		<h2 class="main-header-subtitle">I have worked as a web <a class="highlight" href="./inspire.html" target="_blank">developer and designer at CERN</a> and currently I'm finishing my graduation thesis on improvinging performances of a website by <a href="./optimizing-critical-rendering-path.html" target="_blank" class="highlight">optimizing the critical rendering path and migrating to HTTP/2.0</a>. I have an eye for design and a penchant for writing clean, reusable code. I am highly focused
		on learning how to architect and build performant web apps from ground up using sound engineering principles.</h2>
		<button class="next-button">
			<img class="next-button-arrow" 
			srcset="assets/img/next-arrow.svg 154w"
			sizes="(max-width: 800px) 50px, 154px">
		</button>
	</header>
</main>