<header>


	<div class="wait">Work on this website is currently under progress. Would you like to check out the <a href="https://github.com/Dinika/portfolio">code</a> in the mean time?</div>
	<div class="responsiveMessage">Uh Oh! My site looks ugly on screens with dimensions less than 1370x650px. No worries, though. As you read this I'm busy building a responsive version of this page. It'll be out soon!</div> 
	<!-- <div class="navContainer">
		<nav>
			<ul>
					<li>Skills</li>
					<li>Work</li>
					<li>Blog</li>
					<li>Contact</li>
				</ul>
		</nav>
	</div> -->

	<div class="navButton">
		<svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
			<path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
		</svg><br> MENU
	</div>

	<div class="hero">
		<h1>Hello, I am<br><span>Dinika</span> Saxena.</h1>

		<h2>I am a  &nbsp <span>front-end</span> &nbsp developer.</h2>
		<h3>I practice data visualizati<svg id="i-eye" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <circle cx="17" cy="15" r="1" />
    <circle cx="16" cy="16" r="6" />
    <path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" />
</svg>n.</h3>
		<h4>And, I love to dance. <svg id="i-lightning" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M18 13 L26 2 8 13 14 19 6 30 24 19 Z" />
</svg></h4>
</div>

		<div class="backgroundBig">
				<div class="backgroundSmall"></div>
		</div>

		<div class="rightMenu">
				<div class = "upArrow">
					<svg id="i-chevron-top" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
							<path d="M30 20 L16 8 2 20" />
					</svg>
				</div>
				<div class = "currentSection">
					HOME
				</div>
				<div class = "downArrow">
					<svg id="i-chevron-bottom" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    					<path d="M30 12 L16 24 2 12" />
					</svg>
				</div>
		</div>

</header>
