<main>
	<header class="main-header" id="header">
		<h1 class="main-header-title">Dinika <span>Saxena</span></h1>
		<h2 class="main-header-subtitle">I am currently working in an amazing team of software engineers at CERN as a web <span class="highlight">developer and designer for Inspire</span>. I have an eye for design and a penchant for writing clean, reusable code. I am currently focused
		on learning how to architect and build performant web apps from ground up using sound engineering principles.</h2>
		<button class="next-button"><img class="next-button-arrow" src="assets/	img/next-arrow.svg"></button>
	</header>
</main>