<div id = "skills" class = "section-wrapper hide">

  <div><h1>SKILLS</h1><div class="cursor"></div></div>

  <div class="main-content-container">
    <div class="skillsGroup">
        <div class="bar"></div>
        <div class="container">
          <div class="skill-level">Programming Languages</div>
          <div class="">JavaScript (ES6)</div>
          <div class="">Typescript</div>
          <div class="">Python</div>
          <div class="">Java</div>
          <div class="">HTML</div>
          <div class="">CSS/SCSS</div>
          <div class="">SVG</div>
        </div>
    </div>
    <div class="skillsGroup">
        <div class="bar"></div>
        <div class="container">
          <div class="skill-level">Libraries and Frameworks</div>
          <div class="">React</div>
          <div class="">Redux</div>
          <div class="">Jest</div>
          <div class="">Enzyme</div>
          <div class="">Puppeteer</div>
          <div class="">Angular 4</div>  
          <div class=" ">Bootstrap</div>
          <div class="">Ant Design</div>
          <div class="">jQuery</div>
          <div class="">Flask</div>
      </div>
    </div>
    <div class="skillsGroup">
      <div class="bar"></div>
      <div class="container">
        <div class="skill-level">Others</div>
        <div class=" ">Git</div>
        <div class="">Figma</div>
        <div class="">User Testing</div>
        <div class="">Typography</div>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button class="previous-button"><img class="next-button-arrow" src="assets/img/previous-arrow.svg"></button>
    <button class="next-button"><img class="next-button-arrow" src="assets/img/next-arrow.svg"></button>
  </div>
</div>
