<div id = "section1" class = "sections">
  <div class="bg">
    <div id="code">CODE <div>001</div></div>
    <!-- <div id="brackets">001</div> -->
  </div>

  <div class="skillHeader"><h1>SKILLS</h1><div class="cursor"></div></div>

  <div class="skillSet">
    <div class="strongSkills">
        <div class="bar"></div>
        <div class="container">
        <div class="heading">I am <span><b>strong</b></span> at:</div>
        <div class="skill strong one">HTML5</div>
        <div class="skill strong two">CSS3</div>
        <div class="skill strong three">JavaScript</div>
        <div class="skill strong four">jQuery</div>
        <div class="skill strong five">Java</div>
        <div class="skill strong six">Git</div>
        <div class="skill strong seven"><i>D3.JS</i></div>
        </div>
    </div>
    <div class="intermediateSkills">
        <div class="bar"></div>
        <div class="container">
        <div class="heading">I am at <span><i>intermediate</i></span> level in: </div>
        <div class="skill one">Sass</div>
        <div class="skill two">SVG</div>
        <div class="skill three">Bootstrap</div>
        <div class="skill four">Ajax</div>
        <div class="skill five">C++</div>
        <div class="skill six">SQL</div>
        <div class="skill seven">Python</div>
      </div>
    </div>
  </div>

  <div class="navButton">
		<svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
			<path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24" />
		</svg><br> MENU
	</div>


<div class="rightMenu">
    <div class = "upArrow">
      <svg id="i-chevron-top" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M30 20 L16 8 2 20" />
      </svg>
    </div>
    <div class = "currentSection">
      <svg id="i-lightning" class="centerIcon" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M18 13 L26 2 8 13 14 19 6 30 24 19 Z" />
      </svg>
    </div>
    <div class = "downArrow">
      <svg id="i-chevron-bottom" class="arrow" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M30 12 L16 24 2 12" />
      </svg>
    </div>
  </div>
</div>
<!-- <div class="hiddenWaitMessage">
  I’m currently working on my website. <a href="https://github.com/Dinika/portfolio">Here's</a> the code.<br>
  <div class="loader">
      <div class="loadCircle one"></div>
      <div class="loadCircle two"></div>
      <div class="loadCircle three"></div>
  </div>
</div>
</div> -->
