<div id = "work" class = "section-wrapper hide">

  <div><h1><span>Featured </span>Projects</h1></div>

  <div class="main-content-container">
    <a href="./cern-dashboard.html" target="_blank" class="project" id="cern-dashboard">
      <div class="sequence-number">01</div>
      <div class="project-image"><img src="./assets/img/cern-dashboard-thumbnail.jpg" alt="project thumbnail"></div>
      <h4 class="project-title">CERN Dashboard</h4>
      <h5 class="project-time">2016</h5>
    </a>
    <a href="./optimizing-critical-rendering-path.html" target="_blank" class="project" id="optimizing-critical-rendering-path">
      <div class="sequence-number">02</div>
      <div class="project-image"><img src="./assets/img/university-project-thumbnail.jpg" alt="project thumbnail"></div>
      <h4 class="project-title">Optimizing the critical rendering path of a website</h4>
      <h5 class="project-time">2016-2017</h5>
    </a>
    <a href="./inspire.html" target="_blank" class="project" id="inspire">
      <div class="sequence-number">03</div>
      <div class="project-image"><img src="./assets/img/inspire-thumbnail.jpg" alt="project thumbnail"></div>
      <h4 class="project-title">Inspire (CERN)</h4>
      <h5 class="project-time">2017-2018</h5>
    </a>
    <div class="project">
      <a href="./other-projects.html" target="_blank">Other projects</a>
      <a href="https://github.com/dinika" target="_blank">GitHub</a>
      <a href="https://codepen.io/Dinika" target="_blank">Codepen</a>
    </div>
  </div>
  <div class="navigation-buttons">
    <button class="previous-button">
        <img class="next-button-arrow" 
        srcset="assets/img/previous-arrow.svg 154w"
        sizes="(max-width: 800px) 50px, 154px">
    </button>
    <button class="next-button">
      <img class="next-button-arrow" 
      srcset="assets/img/next-arrow.svg 154w"
      sizes="(max-width: 800px) 50px, 154px">
    </button>
  </div>
</div>
