<div id = "work" class = "hide">

  <div><h1>SKILLS</h1><div class="cursor"></div></div>

  <div class="skillSet">
    <div class="skillsGroup">
        <div class="bar"></div>
        <div class="container">
          <div class="skill-level">Basic</div>
          <div class="">Python</div>
          <div class="">Java</div>
          <div class="">Flask</div>
          <div class=""><i>D3.JS</i></div>
        </div>
    </div>
    <div class="skillsGroup">
        <div class="bar"></div>
        <div class="container">
          <div class="skill-level">Intermediate</div>
          <div class="">Jest</div>   
          <div class="">Enzyme</div>
          <div class="">Puppeteer</div>
          <div class="">Angular 4</div>       
          <div class=" ">Git</div>
          <div class="">Sass</div>  
          <div class="">SVG</div>
          <div class="">Typography</div>  
          <div class=" ">Bootstrap</div>
          <div class="">Ant Design</div>
          <div class="">jQuery</div>
      </div>
    </div>
    <div class="skillsGroup">
      <div class="bar"></div>
      <div class="container">
        <div class="skill-level">Strong</div>
        <div class="">HTML5</div>
        <div class="">CSS3</div>
        <div class=" ">JavaScript (ES6)</div>
        <div class="">React</div>
        <div class="">Redux</div>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <button class="previous-button"><img class="next-button-arrow" src="assets/img/previous-arrow.svg"></button>
    <button class="next-button"><img class="next-button-arrow" src="assets/img/next-arrow.svg"></button>
  </div>
</div>
