*, *::after, *::before 
    -webkit-box-sizing: border-box
    box-sizing: border-box

\:root
    font-size: 16px

html, body
    background-color: $white
section
    margin: 5em auto
    width: 80vw
    transform: translate3d(0,6em,0)
    animation: fadeIn 3s ease-out forwards
    h1, h3
        text-align: center
    h1
        font-size: 5em
        color: $caseStudyPurple
        font-weight: 900
    h3  
        font-size: 1.5rem
        color: $darkgray
        font-weight: 300
        margin: 0.5em auto
    blockquote
        font-size: 1.25rem
        text-align: center
        color: $darkgray
        margin: 1em auto
    p
        font-size: 1.25rem
        margin: 1em auto
        color: $darkgray
        text-align: justify
        line-height: 1.5
        .paragraph-heading
            color: $caseStudyPurple
            font-size: 1.5rem
            font-weight: 500
    .highlight
        color: $caseStudyPurple
    .iframe-wrapper
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 6em

    figure
        display: flex
        flex-direction: column
        align-items: center
        img
            max-width: 800px
            height: auto
    a
        color: $caseStudyPurple
        &:hover
            color: $baseRed
    ul
        list-style: inside
        font-size: 1.25rem
        color: $darkgray
        line-height: 1.5


@keyframes fadeIn
    0%, 40% 
        opacity: 0
    85%, 100%
        opacity: 1
        transform: translate3d(0,0,0)
