#contact

    h1
        position: relative
        font-size: 7rem
        text-align: center
        font-weight: 900
        margin-left: 0.75em
    .main-content-container
        background-color: $lightGray
        display: flex
        flex-direction: column
        padding: 3em
        width: 50%
        margin-top: 0
        .row
            font-size: 1.5rem
            font-weight: 500
            padding: 0.5em
            .col-40
                display: inline-block
                width: 35%
                color: $darkGray
                text-align: right
            .col-60
                display: inline-block
                width: 60%
                color: $basicBlack
                text-align: center
                margin-left: 0.5em
                a
                    margin-right: 1em
                    &:hover
                        color: $woahColor
    .previous-button
        margin-left: 5.5em

@media (max-width: 1680px)
    \:root
        font-size: 12px
    .logo img
        width: 40px
    .main-header
        margin: 3em 0 0 3em
        .main-header-title
            font-size: 8rem
            width: 60%
        .main-header-subtitle
            font-size: 2rem
            width: 60%
            margin-top: 0.25em
            .highlight
                display: inline
    nav
        font-size: 1.25rem
    .next-button, .previous-button
        img
            width: 100px
    #work
        .main-content-container
            align-items: center
        .project-image img
            max-width: 100%

@media (max-width: 1368px)
    \:root
        font-size: 10px

@media (max-width: 1280px)
    .main-header
        .main-header-title
            width: 80%
        .main-header-subtitle
            width: 80%
    #work
        .project
            height: 90%
            
@media (max-width: 800px) and (max-height: 600px)
    \:root
        font-size: 8px
                